*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.wrap{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F7F8;
}

.header{
    width:100%;
    height:64px;
    border-bottom:1px solid silver;
    background-color: white;
}

.header-box{
    display:flex;
}

.logo{
    display:flex;
    margin-left:15px;
    margin-top:7px;
}

.logo > img{
    display:flex;
    width:100px;
    align-items: center;
    justify-content: center;
    transition:0.3s;
}

.logo > img:hover{
    transform :scale(1.1);
    cursor:pointer;
}

.header-box{
    position:relative;
}

.header-box > a {
    position:absolute;
    left:176px;
    top:19px;
    color:blueviolet;
    font-weight: 600;
    font-size:18px;
    text-decoration-line: none;
    transition: 0.1s;
}

.service{
    width:116px;
    height:30px;
    position:relative;
    left:165px;
    top:19px;
}

.service:hover > button{
    color:blueviolet;
    font-weight: 600;
}

.service:hover > .arrow::after{
    background-color:blueviolet;
    transform: rotate(227deg);
    width:10px;
    height:1.5px;
    left:103px;
    transition: 0.1s;
}

.service:hover > .arrow::before{
    background-color:blueviolet;
    transform: rotate(313deg);
    height:1.5px;
    left:98px;
    transition: 0.1s;
}

.service > button {
    border:0;
    background-color: transparent;
    font-size:18px;
    color:rgb(80, 80, 80);
}

.arrow::after{
    content:"";
    position:absolute;
    width:9px;
    height:1px;
    background-color: rgb(80,80,80);
    top: 14.5px;
    left:98px;
    transform: rotate(45deg);
}

.arrow::before{
    content:"";
    position:absolute;
    width:9px;
    height:1px;
    background-color: rgb(80,80,80);
    top: 14.5px;
    left:103.5px;
    transform: rotate(132deg);
}

.banner{
    width:1100px;
    height:200px;
    border-radius: 15px;
    margin-top:20px;
    background-color: blue;
}

.rec_category{
    width:1100px;
    height:400px;
    padding-top:30px;
    display:flex;
    flex-direction: column;
}

.text{
    font-size:30px;
    font-weight: 600;
    margin-bottom:10px;
}

.category_list{
    width:1100px;
    height:300px;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
}

.rec_category ul{
    width:1920px;
    height:250px;
    list-style:none;
    display:flex;
    flex-direction: row;
}


.game_list{
    margin-right:20px;
    width:210px;
    height:280px;
    border-radius: 10px;
    padding: 0 15px;
    position:relative;
}

.game_list:hover .game{
    display: flex;
    color:white;
    z-index: 0;
    background-color: blueviolet;
    font-weight: 600;
    justify-content: center;
    align-items: flex-end;
    padding-bottom:20px;
}

.game_list:hover .game-img > img{
    transform: scale(1.1);
}
.game_list .game-img > img{
    transition:0.1s;
}

.category_list::-webkit-scrollbar{
    display:none;
}

.game-img {
    width: 180px;
    height: 230px;
    border-radius: 12px;
    background-color: black;
    overflow: hidden;
    position:absolute;
    z-index: 1;
}

.game-img > img {
    width: 183px;
}

.game{
    width:210px;
    height:243px;
    border-radius: 10px;
    justify-content: center;
    align-items:flex-end;
    display: flex;
    margin-top:10px;
    padding-bottom:20px;
    background-color: white;
    position:absolute;
    bottom:0px;
    right:0px;
}

.game:hover{
    background-color: blueviolet;
}

.game_list_scroll{
    display: flex;
    align-items: center;
    justify-content: center;
}



.game_list_scroll > div > span{
    display: inline-block;
    width: 40px;
    height: 15px;
    border-radius: 80px;
    background-color: brown;
    top:50%;
    transform:translateY(-50%);
    position: absolute;
}

.game_list_scroll > div{
    width: 400px;
    height: 7px;
    border-radius: 80px;
    background-color: rgb(150, 150, 150);
    position:relative;

}

